<!--{% extends 'app/base.html' %}-->
{% block content %}

    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });

    </script>
    <main>

        <div class="container">
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/img/food-background3.png" alt="user background">
                </div>

                <!--Recibir el url del avatar desde el controlador-->
                <div class="row hide-on-small-and-down">
                    <a class="card-profile-image-large">
                        <img style="margin-top: 20%;" src="../static/img/AvatarVendedor6.png" alt="profile image"
                             class="circle z-depth-2 responsive-img activator">
                    </a>
                </div>
                <div class="row show-on-small hide-on-med-and-up">
                    <a class="card-profile-image-small">
                        <img src="../static/img/AvatarVendedor6.png" alt="profile image"
                             class="circle z-depth-2 responsive-img activator">
                    </a>|
                </div> <!--nose pq hay dos pero bueeeh-->


                <!--Parte con la info del vendedor-->
                <div class="card-content s12">
                    <div class="row">
                        <div class="col s3 offset-s2 hide-on-med-and-down">
                            <!--Debe recibir el nombre desde el controlador-->
                            <h4 class="card-title grey-text flow-text text-darken-4">{{ usuario.nombre_visible }}</h4>
                            <!--Debe recibir el tipo de vendedor desde el controlador-->


                            {% if usuario.tipo == "fijo" %}
                                <p class="medium-small flow-text grey-text">&emsp;&emsp;Vendedor Fijo</p>
                                <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                                    &emsp;&emsp;Horario: <a
                                        class="light-green-text">{{ usuario.apertura }}- {{ usuario.cierre }}</a>
                                </p>

                                </div>
                            {% else %}
                                <p class="medium-small flow-text grey-text">&emsp;&emsp;Vendedor Ambulante</p>
                                </div>
                            {% endif %}

                    <!--p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                        &emsp;&emsp;Horario: <a class="light-green-text">12:30-14:15</a>
                    </p--><!--}-->

                        {% if usuario.tipo == "ambulante" and usuario.check_in == 1 %}
                            <div class="col s3 l2 hide-on-med-and-down center-align">
                            <h4 class="card-title flow-text text-darken-4">Estado</h4>
                            <p class="medium-small flow-text light-green-text">Disponible</p>
                            </div>
                        {% endif %}
                        <!--else { lo mismo de arriba pero No disponible-->


                    <!--Formas de pago! -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h8 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago
                        </h8>
                        <!--Hacer rollbar con las opciones-->
                        <p class="medium-small flow-text grey-text"></p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">

                        <div class="switch" style="margin-left: 10px;">
                            <!--if(tipo==fijo)-->

                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text">grade</i>
                                    <!--Este numero tiene que venir del controlador-->
                                    <span class=" grey-text flow-text text-darken-4"
                                          style="font-size:24px; line-height:35px;">42</span>
                                </h6>
                            </label>
                        </div>
                    </div>
                </div>
                <!--botoncito para editar!-->
                <div class="col s3 l2 hide-on-med-and-down right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2"
                       href="{% url 'vendedor_edit' %}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>

            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s4 offset-s2">
                    <h4 class="card-title grey-text flow-text text-darken-4">{{ usuario.nombre_visible }}</h4>
                    <!--if(tipo del vendedor == Fijo){
                    <p class="medium-small flow-text grey-text">&ensp;Vendedor Fijo</p>
                    <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                        &ensp;Horario: <a class="light-green-text">12:30-14:15</a>
                    </p>
                    }-->
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">
                                Favorito</p>
                            <!--<input type="checkbox"><span class="lever"></span>-->
                            <h6><i class="material-icons amber-text">grade</i>
                                <span class=" grey-text flow-text text-darken-4"
                                      style="font-size:22px; line-height:25px;">42</span>
                            </h6>
                        </label>
                    </div>
                </div>
                <div class="col s3 m2 l12 offset-s1">
                    <h4 class="card-title flow-text text-darken-4">Estado</h4>
                    {% if usuario.tipo == "ambulante" and usuario.check_in == 1 %}
                        <p class="medium-small flow-text light-green-text">Disponible</p>
                    {% else %}
                        <p class="medium-small flow-text light-green-text"> No Disponible</p>
                    {% endif %}
                </div>

                <div class="section"></div>
                <div class="section"></div>
                <div class="col s3 m2 l12 offset-s1"> <!--offset-s2-->
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text">Efectivo</p>
                </div>

                <!--<div class="col s3 offset-s2 offset-l10">
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                            <input type="checkbox"><span class="lever"></span>
                        </label>
                    </div>
                </div>-->
                <div class="col s4 offset-s8 right-align"> <!--offset-s4-->
                    <a class="btn-floating activator waves-effect waves-light darken-2"
                       href="{% url 'vendedor_edit' %}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>
        </div>
        </div>


        <!--parte de la info de products-->
        <div id="profile-page-content" class="row">
            <div id="profile-page-wall" class="col s12 m8">
                <div class="col s12 z-depth-1">
                    <div class="tab-content col s12">
                        <div class="container">
                            <div class="section">
                                <div class="row">
                                    {% for food in menus %}
                                        <div class="col s6 m6 l4">
                                            <div class="container">
                                                <div class="card z-depth-1">
                                                    <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                                        <img class="activator responsive-img center-block"
                                                             style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                                             src={{ food.icono }}>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator grey-text text-darken-4">{{ food.nombre }}<i
                                                                class="material-icons right">more_vert</i></span>
                                                        <p><a class="teal-text">{{ food.precio }}</a></p>
                                                        <p align="right"><a
                                                                class="btn-floating activator waves-effect waves-light darken-2"
                                                                href="{% url 'editar_producto' %}">
                                                            <i class="material-icons">mode_edit</i>
                                                        </a></p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <span class="card-title grey-text text-darken-4">{{ food.nombre }}<i
                                                                class="material-icons right">close</i></span>
                                                        <ul>
                                                            <li>Precio: <a
                                                                    class="green-text light-green-text">{{ food.precio }}</a>
                                                            </li>
                                                            <li>Categoria: {{ food.categoria }}</li>
                                                            <li>Stock: {{ food.stock }}</li>
                                                            <li>Descripción: {{ food.descripcion }}
                                                                <p class="right-align"><a
                                                                        class="waves-effect waves-light"
                                                                        href={{ food.imagen }}>Ver imagen</a></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class='row'>
                        <a class='col l5 offset-l4 btn btn-large waves-effect button teal'
                           href="{% url 'gestion_productos' %}">Agregar Item</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}