{% extends 'app/base.html' %}
{% block content %}

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h5 class="teal-text" style="text-align: center;">Editar Información</h5>
        <div class="section"></div>

        <div class="container">
            <!--Div de la cosa gris-->
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12 m12" method="post" action={% url 'vendedor_edit'%} %}>{% csrf_token %}

                    <div>Cambiar nombre:</div>
                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <input id="name" class =validate type="text" name="name" required="False" value={{ usuario.first_name }} >
                            <label style="text-align: center" for='name'>Edita tu nombre</label>
                        </div>
                    </div>


                    <!--div class="section"></div>
                    <div> Cambiar foto de perfil:</div>
                    <div class="section">
                        <input type="file" name="file" required/>

                    </div-->

                    <div class='row'>
                        <button type='submit' name='btn_login' class='col l6 offset-l3 btn btn-large waves-effect teal'>
                            Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <div class="section"></div>
        <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}





